# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/build_unix/*
!/build_unix/.IGNORE_ME

/build_android/*
!/build_android/Android.mk
!/build_android/clib_port.h
!/build_android/db_config.h
!/build_android/db.h
!/build_android/db_int.h
!/build_android/jdbc/
!/build_android/sql/

/build_vxworks/*
!/build_vxworks/BerkeleyDB20small.wpj
!/build_vxworks/BerkeleyDB20small.wsp
!/build_vxworks/BerkeleyDB20.wpj
!/build_vxworks/BerkeleyDB20.wsp
!/build_vxworks/BerkeleyDB22small.wpj
!/build_vxworks/BerkeleyDB22small.wsp
!/build_vxworks/BerkeleyDB22.wpj
!/build_vxworks/BerkeleyDB22.wsp
!/build_vxworks/clib_port.h
!/build_vxworks/db_config.h
!/build_vxworks/db_config_small.h
!/build_vxworks/db_cxx.h
!/build_vxworks/dbdemo/
!/build_vxworks/db.h
!/build_vxworks/db_int.h
!/build_vxworks/Makefile.6x
!/build_vxworks/Makefile.6x.small
!/build_vxworks/test/
!/build_vxworks/util/

/build_wince/*
!/build_wince/Berkeley_DB.sln
!/build_wince/clib_port.h
!/build_wince/db_config.h
!/build_wince/db.h
!/build_wince/db_int.h
!/build_wince/errno.h
!/build_wince/VS8/

/build_windows/*
!/build_windows/BDB_dotNet_examples.sln
!/build_windows/BDB_dotNet_examples_vs2010.sln
!/build_windows/BDB_dotNet.sln
!/build_windows/BDB_dotNet_vs2010.sln
!/build_windows/Berkeley_DB_examples.sln
!/build_windows/Berkeley_DB_examples_vs2010.sln
!/build_windows/Berkeley_DB.sln
!/build_windows/Berkeley_DB_vs2010.sln
!/build_windows/clib_port.h
!/build_windows/db_config.h
!/build_windows/db_cxx.h
!/build_windows/db.h
!/build_windows/db_int.h
!/build_windows/dbkill.cpp
!/build_windows/dbstl_common.h
!/build_windows/include.tcl
!/build_windows/libdb.def
!/build_windows/libdb.rc
!/build_windows/libdbrc.src
!/build_windows/libdb_small.def
!/build_windows/libdb_sql.def
!/build_windows/libdb_tcl.def
!/build_windows/VS10/
!/build_windows/VS8/

